<div class="offcanvas-header pb-1" id="friend-requests-header">
    <h5 class="offcanvas-title" id="friendRequestsSidebarLabel">Friend Requests</h5>
</div>
<div class="container-fluid mt-0 mb-1">
    <div class="row">
        {{#each _locals.friendRequests}}
        {{>friend-request }}
        {{/each}}
    </div>
</div>