<div class="col-12 col-sm-6 col-lg-7 col-xl-8 p-2">
    <div class="card shadow-lg p-0 d-flex flex-row justify-content-between align-items-center h-100">
        <img src="/images/GIRTHCHECKER.png" class="img-fluid rounded" alt="..." id="logo-image">
        <nav>
            <ul class="p-0 m-0" id="navbar">
                <li class="m-2 me-3 m-lg-2 m-xl-4 d-lg-inline text-end text-lg-start dash-line"><a class="nav-class" href = "/" >Home</a></li>
                {{#unless stats}}
                <li class="m-2 me-3 m-lg-2 m-xl-4 d-lg-inline text-end text-lg-start dash-line"><a class="nav-class" href = "/user-stats" >Stats</a></li>
                {{/unless}}
                {{#unless search}}
                <li class="m-2 me-3 m-lg-2 m-xl-4 d-lg-inline text-end text-lg-start dash-line"><a class="nav-class" href = "/search" >Search</a></li>
                {{/unless}}
                <li class="m-2 me-3 m-lg-2 m-xl-4 d-lg-inline text-end text-lg-start dash-line"><a class="nav-class" href = "/logout" >Logout</a></li>
            </ul>
        </nav>
    </div>
</div>