<div class="shadow-lg mb-3 game-title">
    <div class="card-header">
        <h5 class="news-title m-0">{{title}}</h5>
    </div>
    <div class="card-body">
        <p class="card-text mb-1">{{{contents}}}</p>
        <a href="{{url}}" target="_blank">Read more</a>
    </div>
</div>