<div class="card shadow-lg">
    <div class="card-header">
        <h4 class="card-title text-dark m-0">Owned Games: </h4>
    </div>
    <div class="card-body">
        <button
            class="btn btn-outline-primary btn-game d-flex flex-row justify-content-between align-items-center w-100 mb-1 p-0">
            <div class="d-flex align-items-center">
                <img src="https://avatars.akamai.steamstatic.com/86ef2fdebeced746313994ccf2d7afb1f2887bf0.jpg"
                    class="img-fluid steam-game-thumbnail rounded p-0 me-3" alt="...">
                <p class="card-text">Resident Evil 2</p>
            </div>
            <p class="card-text me-2">280 minutes</p>
        </button>
        <button
            class="btn btn-outline-primary btn-game d-flex flex-row justify-content-between align-items-center w-100 mb-1 p-0">
            <div class="d-flex align-items-center">
                <img src="https://avatars.akamai.steamstatic.com/134bcd93ec4d31ec4a6640d6bdd73f22f0a7619f.jpg"
                    class="img-fluid steam-game-thumbnail rounded p-0 me-3" alt="...">
                <p class="card-text">Hearts of Iron IV</p>
            </div>
            <p class="card-text me-2">17137 minutes</p>
        </button>
    </div>
</div>