<button class="btn violet-glow-btn btn-game d-flex flex-row justify-content-between align-items-center w-100 mb-1 p-0 recent-game-button" app-id="{{appid}}">
    <div class="d-flex align-items-center">
        <img src="https://avatars.akamai.steamstatic.com/{{img_icon_url}}.jpg"
            class="img-fluid steam-game-thumbnail rounded p-0 me-3" alt="...">
        <p class="card-text">{{name}} </p>
    </div>
    <p class="card-text me-2">Playtime: <span class="hours">{{to_hours playtime_forever}}</span> hours</p>
</button>