<div class="col-12 col-sm-6 col-lg-7 col-xl-8 p-2">
    <div class="card shadow-lg container-fluid" id="stat-results-display-box">
        <div class="card-body row">
            {{> (whichStatResultDisplay this)}}
        </div>
    </div>
</div>