<div class="col-lg-6 col-xl-4 mb-3">
  <div class="card shadow-lg d-flex flex-row" data-user-id="{{userResults.id}}">
    <img
      src=""
      class="img-fluid user-search-image rounded"
      alt="..."
    />
    <div class="card-body p-2">
      <p class="card-text mb-0">Username:</p>
      <p class="card-text">{{userResults.username}}</p>
    </div>
  </div>
</div>