                <div class="col-12 col-sm-6 col-lg-5 col-xl-4 p-1">
                    <div class="card shadow-lg p-0 d-flex flex-row">
                        <img src="{{steam_avatar_full}}" class="img-fluid steam-user-image rounded" alt="...">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <div>
                                <p class="card-text mb-1">Username:</p>
                                <p class="card-text">{{steam_username}}</p>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Profile settings
                                </button>
                                <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="offcanvas" href="#friendsSidebar" role="button" aria-controls="friendsSidebar">Friends</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>