<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet" />

    <title>Mass Matchup</title>
</head>
<body>
    <header class="d-flex justify-content-center align-items-center">
        <h1 class="text-primary">Welcome to Mass Matchup</h1>
    </header>
    {{#if user.loggedIn}}
    <div class="container-fluid">
        <div class="row d-flex flex-row-reverse">
            {{>navbar}}
            {{>user user}}
        </div>
    </div>
    {{/if}}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <main>
        {{{body}}}
    </main>

    {{#if user.loggedIn}}
    <div class="offcanvas offcanvas-start" tabindex="-1" id="friendsSidebar" aria-labelledby="friendsSidebarLabel">
        <button type="button" class="btn-close position-absolute top-0 end-0 m-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        {{#if (has_friend_requests friendRequests)}}
        {{>friend-requests}}
        {{/if}}
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="friendsSidebarLabel">Friends</h5>
        </div>
        <div class="offcanvas-body container-fluid mt-0">
            <div class="row">
                {{#each friends }}
                {{>friends}}
                {{/each}}
            </div>
        </div>
    </div>
    {{/if}}
</body>
</html>