        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-5 col-xl-4 p-1">
                    <div class="card shadow-lg">
                        <div class="card-header">
                            <h4 class="dash-title m-0">Recently Played Games</h4>
                        </div>
                        <div class="card-body ">
                            {{#each games}}
                            {{>recentGames}}
                            {{/each}}
                            
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-7 col-xl-8 p-1">
                    <div class="card shadow-lg">
                        <div class="card-header">
                            <h4 class=" dash-title m-0">Game News</h4>
                        </div>
                        <div class="card-body">
                            {{#each newsPerGame}}
                            <div class="card shadow-lg mb-3">
                                <div class="card-header">
                                    <h5 class="card-title card-text m-0">{{name}}</h5>
                                </div>
                                <div class="card-body">
                                    {{#each news}}
                                    {{>newsPartial}}
                                    {{/each}}
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="friendsSidebar" aria-labelledby="friendsSidebarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="friendsSidebarLabel">Friends</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body container-fluid mt-0">
                <div class="row">
                    <div class="card p-0 mb-1">
                        <button type="button" class="btn btn-outline-primary col-12 p-0 d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-user-id-1" aria-expanded="false" aria-controls="collapseExample">
                            <img src="https://technical.ly/wp-content/uploads/2013/11/EdgarAllanBro.jpg" class="img-fluid sidebar-user-image rounded p-0 me-3" alt="...">
                            <p class="card-text me-2">Edgar Allen Bro</p>
                        </button>
                        <div class="collapse" id="sidebar-user-id-1">
                            <div class="card-body p-1 pt-2 d-flex justify-content-between">
                                <button type="button" class="btn btn-primary btn-sm">See stats</button>
                                <button type="button" class="btn btn-success btn-sm">Compare stats</button>
                                <button type="button" class="btn btn-danger btn-sm">Remove Friend</button>
                            </div>
                        </div>
                    </div>
                    <div class="card p-0 mb-1">
                        <button type="button" class="btn btn-outline-primary col-12 p-0 d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-user-id-2" aria-expanded="false" aria-controls="collapseExample">
                            <img src="https://avatars.akamai.steamstatic.com/14c9c3484d8df9255e977e3f95f0cb620bb2d26b_full.jpg" class="img-fluid sidebar-user-image rounded p-0 me-3" alt="...">
                            <p class="card-text me-2">Chairman Miao</p>
                        </button>
                        <div class="collapse" id="sidebar-user-id-2">
                            <div class="card-body p-1 pt-2 d-flex justify-content-between">
                                <button type="button" class="btn btn-primary btn-sm">See stats</button>
                                <button type="button" class="btn btn-success btn-sm">Compare stats</button>
                                <button type="button" class="btn btn-danger btn-sm">Remove Friend</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

    
<script src="/js/login.js"></script>
