<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/normalize.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="./css/style.css" rel="stylesheet" />
    <title>Mass Matchup</title>
</head>
<body>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-5 col-xl-4 p-1">
                    <div class="card shadow-lg">
                        <div class="card-header">
                            <h4 class="dash-title m-0">Recently Played Games</h4>
                        </div>
                        <div class="card-body ">
                            {{#each games}}
                            {{>recentGames}}
                            {{/each}}
                            
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-7 col-xl-8 p-1">
                    <div class="card shadow-lg">
                        <div class="card-header">
                            <h4 class=" dash-title m-0">Game News</h4>
                        </div>
                        <div class="card-body">
                            {{#each newsPerGame}}
                            <div class="card shadow-lg mb-3">
                                <div class="card-header">
                                    <h5 class="card-title card-text m-0">{{name}}</h5>
                                </div>
                                <div class="card-body">
                                    {{#each news}}
                                    {{>newsPartial}}
                                    {{/each}}
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="friendsSidebar" aria-labelledby="friendsSidebarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="friendsSidebarLabel">Friends</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body container-fluid mt-0">
                <div class="row">
                    {{#each friends }}
                    {{>friends}}
                    {{/each}}
                </div>
            </div>
        </div>

    
<script src="/js/login.js"></script>
