<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="card shadow-lg p-0 col-8 col-lg-6">
            <div class="card-header">
                <h2 class="card-title">Login</h2>
            </div>
        <div class="card-body">
        <form id="username-email-input-form" class="p-2">
                    <label for="username-email-input" class="form-label card-text">Username or email address:</label>
                    <input type="text" class="form-control shadow" id="username-input">
                </form>
                <form id="password-input-form" class="p-2">
                    <label for="password-input" class="form-label card-text">Password:</label>
                    <input type="password" class="form-control shadow" id="password-input">
                </form>
                <div class="container-fluid p-3 mt-1">
                    <div class="row d-flex justify-content-between">
                        <button class="btn btn-primary shadow col-6"
                            id="posting-login-button">Log In</button>
                        <button class="btn btn-secondary shadow col-4 col-sm-4 col-xl-2"
                            id="reroute-signup-button">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>