<div class="container mt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6">
            <div class="card shadow-lg p-0">
                <button class="btn yellow-glow-btn position-absolute top-0 end-0 m-3" id="signup-button">Sign
                    Up</button>
                <div class="card-header m-3 mb-0 p-0">
                    <h3 class="card-title login">Instructions</h3>
                </div>
                <div class="card-body pb-0">
                    <a class="h5 steam-title ms-1" data-bs-toggle="collapse" href="#steam-id-collapse" role="button"
                        aria-expanded="false" aria-controls="steam-id-collapse">How To Get Steam ID ?</a>
                    <div class="collapse mt-1 mx-1" id="steam-id-collapse">
                        <figure class="figure d-flex flex-column flex-xl-row">
                            <img src="/images/how-to-get-account-details.png" class="figure-img img-fluid rounded"
                                alt="..." id="account-details-image">
                            <div class="d-flex flex-column justify-content-between w-100">
                                <figcaption class="figure-caption ms-3 card-text">Click on "account details" when you're
                                    logged into your <a href="https://store.steampowered.com/" target="_blank">Steam</a>
                                    account.</figcaption>
                                <div
                                    class="d-flex flex-column justify-content-end align-items-start align-items-xl-end ms-xl-5 mt-3 mt-xl-0">
                                    <img src="/images/how-to-get-steam-id.png" class="figure-img img-fluid rounded"
                                        alt="...">
                                    <figcaption class="figure-caption ms-3 text-lg-end card-text">Your Steam ID is
                                        underneath your account e-mail address.</figcaption>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <h5 class="mt-3 fool ms-1 mb-3">Make Your Profile Public!</h5>
                    <figure class="figure d-flex flex-column flex-lg-row mx-1">
                        <img src="/images/how-to-edit-profile-settings.png" class="figure-img img-fluid rounded"
                            alt="..." id="edit-profile-image">
                        <figcaption class="figure-caption ms-3 card-text">You must make your profile public to allow
                            access to your game stats! Click on the "edit profile" button on your profile when you're
                            logged in.</figcaption>
                    </figure>
                    <figure class="figure d-flex flex-column flex-lg-row mx-1">
                        <img src="/images/edit-steam-privacy-settings.png" class="figure-img img-fluid rounded"
                            alt="..." id="privacy-settings-image">
                        <div class="d-flex flex-column justify-content-between w-100">
                            <figcaption class="figure-caption ms-3 card-text">Click on the "privacy settings" button in
                                the edit profile page.</figcaption>
                            <div
                                class="d-flex flex-column-reverse flex-lg-column justify-content-end align-items-start align-items-lg-end ms-1 mt-3 mt-lg-0 w-100">
                                <figcaption class="figure-caption mb-3 text-start text-lg-end card-text">Make sure all
                                    your profile settings are public.</figcaption>
                                <img src="/images/set-steam-profile-public.png" class="figure-img img-fluid rounded"
                                    alt="..." id="profile-public-setting-image">
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/signup-instructions.js"></script>