<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-5 col-xl-4 p-0">
            <div class="card shadow-lg m-2">
                <div class="card-header mt-2">
                    <h4 class="dash-title m-0">Owned Games: </h4>
                </div>
                <div class="card-body">
                    {{#each Data}}
                    {{>ownedGamesS}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-7 col-xl-8 p-0">
            <div class="card shadow-lg m-2" id="stat-results-display-box">
                <div class="card-body">
                    {{#if statResults}}
                    <div class="d-flex">
                        <h4 class="card-title dash-title col-auto">Results for {{gameName}}: </h4>
                    </div>
                    {{else}}
                    <div class="d-flex justify-content-center">
                        <h4 class="card-title dash-title col-auto text-center m-0">Click on a game to see stats</h4>
                    </div>
                    {{/if}}
                    <ul class="list-group col-12 col-xl-10 col-xxl-8 mt-2">
                        {{#if goodData}}
                        {{#each iAmAwesome}}
                        <li class="list-group-item user-stat-list-group-item d-flex justify-content-between p-1 pb-2">
                            <p class="m-0">{{name}}</p>
                            <p class="m-0">{{score}}</p>
                        </li>
                        {{/each}}
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="/js/get-stats.js"></script>