<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-5 col-xl-4 p-0">
            {{>user-owned-games ownedGames=_locals.ownedGames}}
        </div>
        {{>stat-results-display}}
    </div>
</div>

<script src="/js/get-stats.js"></script>