:root {
    --light: aliceblue;
    --dark: darkslateblue;
    --tertiary: slateblue;
    --sunset-yellow: #ffd319;
    --sunset-orange: #ff901f;
}

header {
    height: 150px;
}

/*background image*/
body {
    background-image: url(../images/newestbg.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*card transparency*/
.card {
    background-color: transparent;
    border: 1px solid #9B00E8;
  box-shadow: 0 0 20px #9B00E8;
}


/*Login animation*/ 
@keyframes flicker {
    from {
      text-shadow:
      0 0 5px #00dcff,0 0 10px #00dcff,
      0 0 20px #00dcff, 0 0 40px #00dcff;
    }
    to {
      text-shadow:
      0 0 5px #09889c, 0 0 10px #09889c,
      0 0 20px #09889c, 0 0 40px #09889c;
    }
  }
  .login { animation: flicker 1s ease-in-out infinite alternate; 
}

/*login form*/
.login,
.login-text { 
    text-shadow:
  0 0 5px #0161E8, 0 0 10px #0161E8,
  0 0 20px #0161E8, 0 0 40px #0161E8;
    color: white;
}

.text-primary {
    font-family: 'Press Start 2P';
    background: linear-gradient(#0161E8, #ff5bbe);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


/*dashboard styling*/

.dash-title {
    text-shadow:
    0 0 5px #aa00ff, 0 0 10px #aa00ff,
    0 0 20px #aa00ff, 0 0 40px #aa00ff;
      color: rgb(254, 252, 255);
    font-family: 'Press Start 2P'
}

/* .logo {
    height: 200px;
    width: auto;
} */

.card-text {
    color:white;
}

.card-title,
.news-title,
.dash-line {
    font-family: 'Press Start 2P';
}

.dash-line {
    font-size: 12px;
    color: white;
    text-shadow:
    0 0 20px #6b00a1, 0 0 40px #6b00a1;
}

.nav-class:hover {
    color: #00dcff;

}

.nav-class {
    color: white;
    text-decoration: none;
}

a {
    color:#aa00ff;
    text-decoration: none;
}

a:hover {
    text-shadow:
    0 0 5px #aa00ff, 0 0 10px #aa00ff,
    0 0 20px #aa00ff, 0 0 40px #aa00ff;
    color:white;
}

.user-search-image {
    height: 100px;
    width: 100px;
}

#stat-dropdown {
    z-index: 2;
}

#graph-box {
    height: 400px;
}


.news-title {
    text-shadow:
    0 0 5px #580084, 0 0 10px #580084,
    0 0 20px #580084, 0 0 40px #580084;
    color: #ffffff;
    font-size: 15px;
    
}

.game-title {
    border: 1.5px solid #580084;
    box-shadow: 0 0 20px #003841;
    border-radius: 0.375rem;
}

.sidebar-user-image {
    height: 45px;
    width: 45px;
}

#logo-image {
    height: 184px;
    width: 184px;
}

.friend-text {
    color: black;
}

.steam-user-image {
    height: 184px;
    width: 184px;
}

@media (max-width: 992px) {
    nav {
        font-size: 26px;
    }
}