:root {
    --light: aliceblue;
    --dark: darkslateblue;
    --tertiary: slateblue;
    --sunset-yellow: #ffd319;
    --sunset-orange: #ff901f;
}

header {
    height: 150px;
}

.card-header {
    color: var(--light);
}

.card-body {
    background-color: var(--light);
}

/* .login {
    background-image: url(../../assets/logobg.png);
    
} */

.text-primary {
    font-family: 'Press Start 2P';
    background: linear-gradient(#0161E8, #ff5bbe);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.card-title {
    font-family: 'Press Start 2P';
}

.user-search-image {
    height: 100px;
    width: 100px;
}
