<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/normalize.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="./css/style.css" rel="stylesheet" />
    <title>Mass Matchup</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row d-flex flex-row-reverse">
            <div class="col-12 col-sm-6 col-lg-7 col-xl-8 p-1">
                <div class="card shadow-lg p-0 d-flex flex-row justify-content-between align-items-center h-100">
                    <img src="/public/images/GIRTHCHECKER.png" class="img-fluid rounded" alt="..." id="logo-image">
                    <nav>
                        <ul class="p-0 m-0">
                            <li class="m-2 me-3 m-lg-2 m-xl-4 d-lg-inline text-end text-lg-start">Home</li>
                            <li class="m-2 me-3 m-lg-2 m-xl-4 d-lg-inline text-end text-lg-start">Dashboard</li>
                            <li class="m-2 me-3 m-lg-2 m-xl-4 d-lg-inline text-end text-lg-start">Logout</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-5 col-xl-4 p-1">
                <div class="card shadow-lg p-0 d-flex flex-row">
                    <img src="https://avatars.akamai.steamstatic.com/9684c19be46eb8889669c0c791ddcb5c509838f6_full.jpg" class="img-fluid steam-user-image rounded" alt="...">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div>
                            <p class="card-text mb-1">Username:</p>
                            <p class="card-text">Reverend Richard Wayne Gary Wayne</p>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Profile settings
                            </button>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item">Settings</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="offcanvas" href="#friendsSidebar" role="button" aria-controls="friendsSidebar">Friends</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-5 col-xl-4 p-1">
                    <div class="card shadow-lg">
                        <div class="card-header">
                            <h4 class="card-title text-dark m-0">Recently Played Games</h4>
                        </div>
                        <div class="card-body">
                            <button class="btn btn-outline-primary btn-game d-flex flex-row justify-content-between align-items-center w-100 mb-1 p-0">
                                <div class="d-flex align-items-center">
                                    <img src="https://avatars.akamai.steamstatic.com/ac3ebd0dd8f4244545ca18091b23f60de42d7ade.jpg" class="img-fluid steam-game-thumbnail rounded p-0 me-3" alt="...">
                                    <p class="card-text">Captain of Industry</p>
                                </div>
                                <p class="card-text me-2">3014 hours</p>
                            </button>
                            <button class="btn btn-outline-primary btn-game d-flex flex-row justify-content-between align-items-center w-100 mb-1 p-0">
                                <div class="d-flex align-items-center">
                                    <img src="https://avatars.akamai.steamstatic.com/399859f8bdaeef066f14029d5f1910960545fbd9.jpg" class="img-fluid steam-game-thumbnail rounded p-0 me-3" alt="...">
                                    <p class="card-text">Conan Exiles</p>
                                </div>
                                <p class="card-text me-2">600 hours</p>
                            </button>
                            <button class="btn btn-outline-primary btn-game d-flex flex-row justify-content-between align-items-center w-100 mb-1 p-0">
                                <div class="d-flex align-items-center">
                                    <img src="https://avatars.akamai.steamstatic.com/9b9e1838838c21ee443359efe30b6a56cf0531dd.jpg" class="img-fluid steam-game-thumbnail rounded p-0 me-3" alt="...">
                                    <p class="card-text">Baba Is You</p>
                                </div>
                                <p class="card-text me-2">586 hours</p>
                            </button>
                            <button class="btn btn-outline-primary btn-game d-flex flex-row justify-content-between align-items-center w-100 mb-1 p-0">
                                <div class="d-flex align-items-center">
                                    <img src="https://avatars.akamai.steamstatic.com/3cf19bc8fa3bc953d68a9b46b0a7555839188da0.jpg" class="img-fluid steam-game-thumbnail rounded p-0 me-3" alt="...">
                                    <p class="card-text">FINAL FANTASY VII REMAKE INTERGRADE</p>
                                </div>
                                <p class="card-text me-2">705 hours</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-7 col-xl-8 p-1">
                    <div class="card shadow-lg">
                        <div class="card-header">
                            <h4 class="card-title text-dark m-0">Game News</h4>
                        </div>
                        <div class="card-body">
                            <div class="card shadow-lg mb-3">
                                <div class="card-header">
                                    <h5 class="card-title text-dark m-0">Captain of Industry</h5>
                                </div>
                                <div class="card-body">
                                    <div class="card shadow-lg mb-3">
                                        <div class="card-header">
                                            <h5 class="card-title text-dark m-0">Patch notes for v0.4.12</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text mb-1">The v0.4.12 has graduated from experimental and is now available on the main branch! To learn more about the patch, see our recent Captain's diary #31: https://www.captain-of-industry.com/post/cd-31 Performance * Optimized rendering of common buildings resulting in up to 3x more FPS. * Optimized ren...</p>
                                            <a href="https://steamcommunity.com/games/1594320/announcements/detail/3303976637115524998" target="_blank" class="stretched-link">Read more</a>
                                        </div>
                                    </div>
                                    <div class="card shadow-lg mb-3">
                                        <div class="card-header">
                                            <h5 class="card-title text-dark m-0">CD#31: Up to 3x more FPS and 2x faster loading!</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text mb-1">Hello Captains! Zuff here bringing you exciting news about the latest patch v0.4.12 that has just landed to the experimental branch! TL;DR: The game now loads 2-8x faster, save files are 2-3x smaller, and FPS is 2-3x higher! This patch is without a doubt the largest performance update to Captain of ...</p>
                                            <a href="https://steamstore-a.akamaihd.net/news/externalpost/steam_community_announcements/6258337460544802801" target="_blank" class="stretched-link">Read more</a>
                                        </div>
                                    </div>
                                    <div class="card shadow-lg mb-3">
                                        <div class="card-header">
                                            <h5 class="card-title text-dark m-0">Patch notes for v0.4.11</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text mb-1">The v0.4.11 has graduated from experimental and is now available on the main branch! To learn more about the patch, see our recent Captain's diary #30: https://www.captain-of-industry.com/post/diary-30 New Features * Unlocked buildings are now highlighted in menus until they are selected for the fir...</p>
                                            <a href="https://steamstore-a.akamaihd.net/news/externalpost/steam_community_announcements/4514316500021649859" target="_blank" class="stretched-link">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow-lg mb-3">
                                <div class="card-header">
                                    <h5 class="card-title text-dark m-0">Conan Exiles</h5>
                                </div>
                                <div class="card-body">
                                    <div class="card shadow-lg mb-3">
                                        <div class="card-header">
                                            <h5 class="card-title text-dark m-0">Age of Sorcery – Chapter 2 is coming!</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text mb-1">Greetings Exiles, After unleashing volatile sorcery upon the Exiled Lands, we’re excited to reveal what the team has been working on for Age of Sorcery – Chapter 2, coming to you on 6 December! This update focuses on creating new activities and encounters that make the world even more exciting to ex...</p>
                                            <a href="https://steamstore-a.akamaihd.net/news/externalpost/steam_community_announcements/4732747437220367401" target="_blank" class="stretched-link">Read more</a>
                                        </div>
                                    </div>
                                    <div class="card shadow-lg mb-3">
                                        <div class="card-header">
                                            <h5 class="card-title text-dark m-0">Patch 3.0.5 (26.10.2022)</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text mb-1">Greetings Exiles, The 3.0.5 hotfix patch is out and it’s a pretty short one to read as most of our changes were made in the backend. {STEAM_CLAN_IMAGE}/25298994/f03a72c4fe1759eab5967df9c3d7dc821bf3ebdf.png {STEAM_CLAN_IMAGE}/25298994/a1899cc262aa44a2d06d4e2b931c9c0de6a153c9.png We have made some bac...</p>
                                            <a href="https://steamstore-a.akamaihd.net/news/externalpost/steam_community_announcements/4706851091168764447" target="_blank" class="stretched-link">Read more</a>
                                        </div>
                                    </div>
                                    <div class="card shadow-lg mb-3">
                                        <div class="card-header">
                                            <h5 class="card-title text-dark m-0">Patch 3.0.4 (19.10.2022)</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text mb-1">{STEAM_CLAN_IMAGE}/25298994/f03a72c4fe1759eab5967df9c3d7dc821bf3ebdf.png {STEAM_CLAN_IMAGE}/25298994/d609f883883dd2cec300e37797cb5a5fb22a7bd8.png An exploit regarding the crafting system has been fixed. {STEAM_CLAN_IMAGE}/25298994/7c1423a9f7b26e3c93786612f222bc62e531ee3c.png The Arcane Bookcase was ...</p>
                                            <a href="https://steamstore-a.akamaihd.net/news/externalpost/steam_community_announcements/4714731755407806671" target="_blank" class="stretched-link">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="friendsSidebar" aria-labelledby="friendsSidebarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="friendsSidebarLabel">Friends</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body container-fluid mt-0">
                <div class="row">
                    <div class="card p-0 mb-1">
                        <button type="button" class="btn btn-outline-primary col-12 p-0 d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-user-id-1" aria-expanded="false" aria-controls="collapseExample">
                            <img src="https://technical.ly/wp-content/uploads/2013/11/EdgarAllanBro.jpg" class="img-fluid sidebar-user-image rounded p-0 me-3" alt="...">
                            <p class="card-text me-2">Edgar Allen Bro</p>
                        </button>
                        <div class="collapse" id="sidebar-user-id-1">
                            <div class="card-body p-1 pt-2 d-flex justify-content-between">
                                <button type="button" class="btn btn-primary btn-sm">See stats</button>
                                <button type="button" class="btn btn-success btn-sm">Compare stats</button>
                                <button type="button" class="btn btn-danger btn-sm">Remove Friend</button>
                            </div>
                        </div>
                    </div>
                    <div class="card p-0 mb-1">
                        <button type="button" class="btn btn-outline-primary col-12 p-0 d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-user-id-2" aria-expanded="false" aria-controls="collapseExample">
                            <img src="https://avatars.akamai.steamstatic.com/14c9c3484d8df9255e977e3f95f0cb620bb2d26b_full.jpg" class="img-fluid sidebar-user-image rounded p-0 me-3" alt="...">
                            <p class="card-text me-2">Chairman Miao</p>
                        </button>
                        <div class="collapse" id="sidebar-user-id-2">
                            <div class="card-body p-1 pt-2 d-flex justify-content-between">
                                <button type="button" class="btn btn-primary btn-sm">See stats</button>
                                <button type="button" class="btn btn-success btn-sm">Compare stats</button>
                                <button type="button" class="btn btn-danger btn-sm">Remove Friend</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="./js/dashboard.js"></script>
    <script src="./js/login.js"></script>
</body>
</html>