<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/normalize.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="./css/style.css" rel="stylesheet" />
    <title>Mass Matchup</title>
</head>
<body>
    <main>
        <div class="container-fluid">
            <div class="row d-flex flex-row-reverse">
                <div class="col-12 col-sm-6 col-lg-7 col-xl-8 p-1">
                    <div class="card shadow-lg p-0 d-flex flex-row justify-content-between align-items-center h-100">
                        <h1 class="m-3 m-md-5">Logo</h1>
                        <nav>
                            <ul class="p-0 m-0">
                                <li class="m-2 me-3 m-lg-2 m-xl-4 d-lg-inline text-end text-lg-start">Home</li>
                                <li class="m-2 me-3 m-lg-2 m-xl-4 d-lg-inline text-end text-lg-start">Dashboard</li>
                                <li class="m-2 me-3 m-lg-2 m-xl-4 d-lg-inline text-end text-lg-start">Logout</li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-5 col-xl-4 p-1">
                    <div class="card shadow-lg p-0 d-flex flex-row">
                        <img src="https://avatars.akamai.steamstatic.com/9684c19be46eb8889669c0c791ddcb5c509838f6_full.jpg" class="img-fluid steam-user-image rounded" alt="...">
                        <div class="card-body d-flex flex-column justify-content-between" data-user-id="1">
                            <div>
                                <p class="card-text mb-1">Username:</p>
                                <p class="card-text">Reverend Richard Wayne Gary Wayne</p>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Profile settings
                                </button>
                                <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Friends</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-5 col-xl-4 p-1">
                    <div class="card shadow-lg mb-2">
                        <div class="card-header text-dark">
                            <h4>User Search</h4>
                        </div>
                        <div class="card-body">
                            <form id="username-steamid-input-form" class="p-2">
                                <label for="username-steamid-input" class="form-label card-text">Username or SteamID:</label>
                                <input type="text" class="form-control shadow" id="username-steamid-input">
                                <div id="button-row" class="d-flex justify-content-between">
                                    <button class="btn btn-primary shadow mt-3"
                                        id="search-user-button">Search </button>
                                    <button class="btn btn-primary shadow mt-3"
                                        id="search-all-users-button" type="button">Search All</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card shadow-lg p-0 d-flex flex-column">
                        <div class="d-flex flex-row">
                        <img src="https://avatars.akamai.steamstatic.com/14c9c3484d8df9255e977e3f95f0cb620bb2d26b_full.jpg" class="img-fluid steam-user-image rounded" alt="...">
                        <div class="card-body d-flex flex-column justify-content-between" data-user-id="3">
                            <div>
                                <p class="card-text mb-1">Username:</p>
                                <p class="card-text">Chairman Miao</p>
                            </div>
                        </div>
                        </div>
                        <div id="user-search-button-bar" class="d-flex justify-content-between m-2">
                            <button class="btn btn-sm btn-primary shadow"
                                id="add-friend-button" type="button">Add Friend</button>
                            <button class="btn btn-sm btn-primary shadow"
                                id="recently-played-button" type="button">Recently Played</button>
                            <button class="btn btn-sm btn-primary shadow"
                                id="compare-stats-button" type="button">Compare Stats</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-7 col-xl-8 p-1">
                    <div class="card shadow-lg">
                        <div class="card-header">
                            <h2 class="card-title text-dark">Search Results</h2>
                        </div>
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-6 col-xl-4 mb-3">
                                        <div class="card shadow-lg d-flex flex-row" dataUserId="2">
                                            <button class="btn btn-primary btn-sm position-absolute bottom-0 end-0 m-1 addFriendBtn">Add friend</button>
                                            <img src="https://technical.ly/wp-content/uploads/2013/11/EdgarAllanBro.jpg" class="img-fluid user-search-image rounded" alt="...">
                                            <div class="card-body p-2">
                                                <p class="card-text mb-0">Username:</p>
                                                <p class="card-text">Edgar Allen Bro</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-4 mb-3">
                                        <div class="card shadow-lg d-flex flex-row" dataUserId="3">
                                            <img src="https://avatars.akamai.steamstatic.com/14c9c3484d8df9255e977e3f95f0cb620bb2d26b_full.jpg" class="img-fluid user-search-image rounded" alt="...">
                                            <div class="card-body p-2">
                                                <p class="card-text mb-0">Username:</p>
                                                <p class="card-text">Chairman Miao</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-4 mb-3">
                                        <div class="card shadow-lg d-flex flex-row" dataUserId="4">
                                            <img src="https://avatars.akamai.steamstatic.com/d61a4108dab623523767b4f2f9eb0c8fa273c4e3_full.jpg" class="img-fluid user-search-image rounded" alt="...">
                                            <div class="card-body p-2">
                                                <p class="card-text mb-0">Username:</p>
                                                <p class="card-text">Dextrose</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-4 mb-3">
                                        <div class="card shadow-lg d-flex flex-row" dataUserId="5">
                                            <img src="https://avatars.akamai.steamstatic.com/4af78c007fd35a65f740859ca56094228dc3c1ba_full.jpg" class="img-fluid user-search-image rounded" alt="...">
                                            <div class="card-body p-2">
                                                <p class="card-text mb-0">Username: </p>
                                                <p class="card-text">Dyslexia</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="./js/login.js"></script>
</body>
</html>